*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea
app/src/main/res/mipmap-*
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/drawable/ic_menu_camera.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_menu_gallery.xml
/app/src/main/res/drawable/ic_menu_slideshow.xml
/app/src/main/res/drawable/side_nav_bar.xml
/gradle/wrapper/gradle-wrapper.jar
/Recursos/

/nativetemplates
