*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea
app/src/main/res/mipmap-*
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/drawable/ic_menu_camera.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_menu_gallery.xml
/app/src/main/res/drawable/ic_menu_slideshow.xml
/app/src/main/res/drawable/side_nav_bar.xml
/gradle/wrapper/gradle-wrapper.jar
/Recursos/
/nativetemplates/build/.transforms/71c4bbbae66edd4c3bcc12a8d56852a4/classes/classes.dex
/nativetemplates/build/.transforms/71c4bbbae66edd4c3bcc12a8d56852a4.bin
/nativetemplates/build/generated/source/buildConfig/debug/com/google/android/ads/nativetemplates/BuildConfig.java
/nativetemplates/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/nativetemplates/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/nativetemplates/build/intermediates/aar_metadata/debug/aar-metadata.properties
/nativetemplates/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/nativetemplates/build/intermediates/compile_library_classes_jar/debug/classes.jar
/nativetemplates/build/intermediates/compile_r_class_jar/debug/R.jar
/nativetemplates/build/intermediates/compile_symbol_list/debug/R.txt
/nativetemplates/build/intermediates/compiled_local_resources/debug/out/drawable_gnt_outline_shape.xml.flat
/nativetemplates/build/intermediates/compiled_local_resources/debug/out/drawable_gnt_rounded_corners_shape.xml.flat
/nativetemplates/build/intermediates/compiled_local_resources/debug/out/layout_gnt_medium_template_view.xml.flat
/nativetemplates/build/intermediates/compiled_local_resources/debug/out/layout_gnt_small_template_view.xml.flat
/nativetemplates/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/nativetemplates/build/intermediates/incremental/mergeDebugShaders/merger.xml
/nativetemplates/build/intermediates/incremental/packageDebugAssets/merger.xml
/nativetemplates/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/nativetemplates/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/nativetemplates/build/intermediates/incremental/packageDebugResources/merger.xml
/nativetemplates/build/intermediates/javac/debug/classes/com/google/android/ads/nativetemplates/BuildConfig.class
/nativetemplates/build/intermediates/javac/debug/classes/com/google/android/ads/nativetemplates/NativeTemplateStyle$Builder.class
/nativetemplates/build/intermediates/javac/debug/classes/com/google/android/ads/nativetemplates/NativeTemplateStyle.class
/nativetemplates/build/intermediates/javac/debug/classes/com/google/android/ads/nativetemplates/TemplateView.class
/nativetemplates/build/intermediates/library_manifest/debug/AndroidManifest.xml
/nativetemplates/build/intermediates/local_only_symbol_list/debug/R-def.txt
/nativetemplates/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/nativetemplates/build/intermediates/navigation_json/debug/navigation.json
/nativetemplates/build/intermediates/packaged_manifests/debug/output-metadata.json
/nativetemplates/build/intermediates/packaged_res/debug/drawable/gnt_outline_shape.xml
/nativetemplates/build/intermediates/packaged_res/debug/drawable/gnt_rounded_corners_shape.xml
/nativetemplates/build/intermediates/packaged_res/debug/layout/gnt_medium_template_view.xml
/nativetemplates/build/intermediates/packaged_res/debug/layout/gnt_small_template_view.xml
/nativetemplates/build/intermediates/packaged_res/debug/values/values.xml
/nativetemplates/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/nativetemplates/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/nativetemplates/build/outputs/logs/manifest-merger-debug-report.txt
/nativetemplates/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/nativetemplates/src/main/java/com/google/android/ads/nativetemplates/NativeTemplateStyle.java
/nativetemplates/src/main/java/com/google/android/ads/nativetemplates/TemplateView.java
/nativetemplates/src/main/res/drawable/gnt_outline_shape.xml
/nativetemplates/src/main/res/drawable/gnt_rounded_corners_shape.xml
/nativetemplates/src/main/res/layout/gnt_medium_template_view.xml
/nativetemplates/src/main/res/layout/gnt_small_template_view.xml
/nativetemplates/src/main/res/values/attrs.xml
/nativetemplates/src/main/res/values/colors.xml
/nativetemplates/src/main/res/values/dimens.xml
/nativetemplates/src/main/AndroidManifest.xml
/nativetemplates/build.gradle
/nativetemplates/proguard-rules.pgcfg
